
div.notification {
    border: 2px solid;
    border-radius: 5px;
    display: block;
    width: 75%;
    font-size: 1.2rem;
    padding: 0.25em;
    margin: 0.25rem 0;
}

div.notification.info {
    border-color: green;
    color: green;
}

div.notification.error {
    border-color: red;
    color: red;
}
